<div class="form-group">
    <label for="title">Enemy Name</label>
    <input required value="<%= enemyArticle.title%>" type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="title">Enemy Picture Link</label>
    <input required value="<%= enemyArticle.picture%>" type="text" name="picture" id="picture" class="form-control">
</div>

<div class="form-group">
    <label for="title">Health</label>
    <input required value="<%= enemyArticle.health%>" type="number" name="health" id="health" class="form-control">
</div>

<div class="form-group">
    <label for="title">Souls</label>
    <input required value="<%= enemyArticle.souls%>" type="number" name="souls" id="souls" class="form-control">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea required name="description" id="description" class="form-control"><%= enemyArticle.description%></textarea>
</div>

<div class="form-group">
    <label for="description">Location</label>
    <textarea required name="location" id="location" class="form-control"><%= enemyArticle.location%></textarea>
</div>

<div class="form-group">
    <label for="description">Attacks</label>
    <textarea required name="attacks" id="attacks" class="form-control"><%= enemyArticle.attacks%></textarea>
</div>

<div class="form-group">
    <label for="description">Stategies</label>
    <textarea required name="strategies" id="strategies" class="form-control"><%= enemyArticle.strategies%></textarea>
</div>

<div class="form-group">
    <label for="description">Drops</label>
    <textarea required name="drops" id="drops" class="form-control"><%= enemyArticle.drops%></textarea>
</div>

<div class="form-group">
    <label for="description">Lore</label>
    <textarea required name="lore" id="lore" class="form-control"><%= enemyArticle.lore%></textarea>
</div>






<a href="/" class="btn btn-secondary mt-2">Cancel</a>
<button type="submit" class="btn btn-primary mt-2">Save</button>